{% extends "base.html" %}

{% block content %}
   <div class="container">

    <div class="page-header">
        <h1>Digit classifier</h1>
        <p class="lead">Integration of scikit-learn and flask</p>
    </div>

    <canvas id="sketch" style="background-color:#66ccff; cursor: crosshair;" width="400" height="400"></canvas>
    <br/>
    <br/>
    <button class="btn" id="recognizeBtn">Recognize</button>
    <button class="btn" id="clearBtn">Clear</button>

    <br/>
    <br/>
    <p id="digit"class="text-center h2"></p>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/sketch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/nums.js') }}"></script>
{% endblock %}