{% extends "base.html" %}

{% block content %}

<div id="display">
	<div id="productName">
		<h1>{{data.name}} -{{data.category_id}} </h1>
	</div>
	<div>
	<div id="productDescription">
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data.name}}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>{{data.price}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data.stock}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data.description}}</p>
	</div>
	<div id="addToCart">
		<a href='/addToCart/{{data.product_id}}/product'> Add to Cart </a>
	</div>
</div>

{% endblock %}